[run]
omit =
    */migrations/*
    */tests.py
    */test.py
    */*_test.py
    */test_*.py
    settings.py
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */__init__.py
    manage.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if settings.DEBUG
    raise NotImplementedError
