SECRET_KEY=23984794924798@39485973@h76h@dfhighudfgh
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DATABASE_URL=postgresql://db_user:userzpassword@db_serverdomain.com/db_name
ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=user@example.com
EMAIL_HOST_PASSWORD=secret123
EMAIL_TIMEOUT=10

TELEGRAM_API_ID=12345678
TELEGRAM_SESSION=session
TELEGRAM_API_HASH=5123456789012345678901235
DEBUG=True