<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
</head>
<body>
    <header>
        <p>мы оставим только одну бд из AUTHENTICATION_BACKENDS (файл settings.py)?</p>
        <p>потому что сейчас работает с любой, но только с одной</p>
        <a href="{% url 'yandex_auth' %}">Войти через Yandex ID</a>
    </header>
</body>
</html>