<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <p>мы оставим только одну бд из AUTHENTICATION_BACKENDS (файл settings.py)?</p>
        <p>потому что сейчас работает с любой, но только с одной.</p>
        <p>с доступом в админку эта: 'django.contrib.auth.backends.ModelBackend'</p>
        <br>
        <br>
        <br>
        
        {% if yandex_user %}
            {% if yandex_user.first_name or yandex_user.last_name %}
                <p>Привет, {{ yandex_user.first_name }} {{ yandex_user.last_name }}!</p>
            {% else %}
                <p>Привет, noname!</p>
            {% endif %}
            <p>Email: {{ yandex_user.email }}</p>
            <br>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'yandex_auth' %}">Войти через Yandex ID</a> <br>
        {% endif %}

        <br>
        <br>
        <br>
        <a href="/admin" target="_blank">admin</a>
    </header>
</body>
</html>