name: Django CI Workflow

on: [push, pull_request]

jobs:
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up UV 
        uses: astral-sh/setup-uv@v6

      - name: Set up Python
        uses: actions/setup-python@v4      
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          make install 
      
      - name: Build
        run: |
          make build
          make collectstatic

      - name: Run linter
        run: |
          make lint
      
      - name: Run tests
        env:
          SECRET_KEY : secret
        run: |
          make test





